pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.csv*
*.tsv*
*.nippy*
*.log
.R*
*.txt*
.lsp/
.clj-kondo/
*.qmd
.quarto
.clay*
