{:remote-repo {:git-url "https://github.com/scicloj/tablecloth"
               :branch "master"}
 :quarto {:format {:html {:toc true
                          :toc-depth 4
                          :theme [:spacelab "notebooks/custom.scss"]}}
          :highlight-style :solarized
          :code-block-background true
          :include-in-header {:text "<link rel = \"icon\" href = \"data:,\" />"}
          :title "Tablecloth documentation"}}
