{:extra-paths ["data"]
 :deps {org.clojure/clojure              {:mvn/version "1.10.3"}
        techascent/tech.ml.dataset       {:mvn/version "6.076"}
        
        ;; generateme/fastmath {:mvn/version "2.1.0"}
        }}
