name: Build and Deploy

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:

# This is just a guard against two of these actions
# running at the same time. Not likely an issue for
# us right now, but it could happen.
concurrency: build-and-deploy-${{ github.ref }}

jobs:
  deploy-docs:
    runs-on: ubuntu-latest

    # Only run this job if there were changes in the docs folder
    paths:
      - ./docs/*
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs
          branch: gh-pages # default for this action, but including to be explicit

